<h1>Tickets</h1>
<p class="muted">Choose ticket or <a href="#/ticket/0">add new ticket</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Priority</th>
            <th>Ticket</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ticket in tickets">
            <td>{{ ticket._project.name }}</td>
            <td><span class="label label-{{ ticket.priority }}">{{ ticket.priority }}</span></td>
            <td>
                <a href="#remove_ticket" ng-click="remove()"><i class="icon-remove pull-right"></i></a>
                <a href="#/ticket/{{ ticket._id }}"><i class="icon-edit pull-right"></i></a>
                <a href="#" rel="tooltip"><i class="icon-warning-sign" ng-show="ticket.warning"></i></a>
                {{ ticket.subject }}
            </td>
        </tr>
    </tbody>
</table>
