<h1>Clients</h1>
<p class="muted">Choose client or <a href="#/client/0">add new client</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Client</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="client in clients" init-client-item="client">
            <td>
                <a href="#remove_client" ng-click="remove()"><i class="icon-remove pull-right"></i></a>
                <a href="#/client/{{ client._id }}"><i class="icon-edit pull-right"></i></a>
                {{ client.name }}
            </td>
        </tr>
    </tbody>
</table>
