<h1>Projects</h1>
<p class="muted">Choose project or <a href="#/project/0">add new project</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Client</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in projects">
            <td>{{ project._client.name }}</td>
            <td>
                <a href="#remove_project" ng-click="remove()"><i class="icon-remove pull-right"></i></a>
                <a href="#/project/{{ project._id }}"><i class="icon-edit pull-right"></i></a>
                {{ project.name }}
            </td>
        </tr>
    </tbody>
</table>


